#sliding-popup {
  z-index: 99999;
  text-align: center;
  background: #fdd54f;
  background: rgba(253,213,79,0.98);
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
  -moz-transform: translate(-50%, -10%);
  -o-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  padding: 1.2rem 0;
  width: 80%;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.45);
}
#sliding-popup .popup-content #popup-text h1,
#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text h3 {
  color: #000;
}
#sliding-popup .popup-content #popup-text p {
  color: #000;
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-family: Typ1451-Medium,Verdana, Arial, Helvetica, sans-serif;
}
.sliding-popup-bottom {
  position: fixed;
}

.sliding-popup-top {
  position: relative;
}

#sliding-popup .popup-content {
  margin: 0 auto;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  width: 100%;
  color: #fff;
}

#sliding-popup .popup-content #popup-buttons {
  float: right;
  max-width: 40%;
}
.agree-button {
  margin-top: 0.7rem;
}
#sliding-popup button {
  cursor: pointer;
  background-color: #000;
  border: 2px solid transparent;
  color: #fdd54f;
}

#sliding-popup button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}
#sliding-popup .popup-content #popup-text {
  float: left;
  max-width: 60%;
}

.eu-cookie-withdraw-tab {
  cursor: pointer;
}

.eu-cookie-withdraw-wrapper.sliding-popup-top,
.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-banner {
  transform: scaleY(-1);
}

.eu-cookie-withdraw-tab {
  position: absolute;
  top: 0;
  transform: translate(-50%, -100%);
  left: 50%;
}

.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-tab {
  transform: translate(-50%, -100%) scaleY(-1);
}

@media screen and (max-width: 600px) {
  #sliding-popup {
    padding: 2rem;
    width: 95%;
  }
  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-buttons {
    clear: both;
    float: none;
    max-width: 100%;
  }
}

.eu-cookie-compliance-banner h2 {
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
  font-size: 1.42383rem;
  border: none;
  font-weight: 400;
  letter-spacing: inherit;
  padding: 0;
}

@media screen and (min-width:48.0625rem) {
  .eu-cookie-compliance-banner h2 {
    font-size: 1.80203rem;
  }
}
